header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#welcome {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.profile-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.profile-icon {
    color: #fff;
    font-size: 40px;
}

p {
    font-size: 30px;
    color: #fff;
}

span1 {
    font-size: 30px;
    color: #fff; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    text-align: center;
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

span {
    font-size: 30px;
    color: #094067;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 0px;
    border: 1px solid #094067;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 5px;
    height: 50px;
    color: #5f6c7b;
}

label[for="heightFeet"], label[for="heightInches"] {
    font-size: 30px;
    color: #094067;
}

#updateButton {
    padding: 10px 20px;
    font-size: 25px;
    background-color: #3da9fc;
    color: #fffffe;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

.tab-button {
    padding: 11px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 40px;
    border: none;
}

.tab-button i {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
