 .row{
    font-size: 3rem;
} 


.container-1{
    border: .2rem solid black;
    height: 930px;
    width: 610px;
}

#profile{
    text-align: center;
}
.container-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}
.container-2{
    height: 3rem;
    width: 10rem;
    font-size: 2rem;
}

.container-3{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button{
    width: 9rem;
    height: 6rem;
    font-size: 2rem;
}
