/* WorkoutPage.css */

#exercise-list .exercise {
  border: 1px solid #ddd;
  margin-bottom: 30px;
  margin-left: 50px;
  width: 600px;
  padding: 10px;
  font-size: 20px;
}
#exercise-list button {
  margin-right: 5px;
}

#curr-exercise-list .exercise2 {
  border: 1px solid #ddd;
  margin-bottom: 30px;
  margin-left: 50px;
  width: 600px;
  padding: 10px;
  font-size: 20px;
}
#curr-exercise-list button {
  margin-right: 5px;
}
#curr-exercise-list{
  margin-top: 30px;
}
#form-1{
  font-size: 20px;
}
input.editable{
  font-size: 20px;
}
#filter-options{
  font-size: 30px;
}
select#difficulty-filter{
  width: 200px;
  height: 40px;
  font-size: 15px;
}
.exercise-form, .exercise-form2 {
  background-color: #f3f3f3;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
}
.exercise-form label, .exercise-form2 label {
  display: block;
  margin-top: 10px;
}
.editable, .editable2 {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 10px);
}
.exercise-form button, .exercise-form2 button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.exercise-form button:hover, .exercise-form2 button:hover {
  opacity: 0.8;
}

.curr-exercise-list{
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#welcome {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.profile-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  color: #fff;
  font-size: 40px;
}



.rankings-button {
  padding: 11px;
  margin: 1px;
  text-align: center;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  font-size: 30px;
}

.nutrition-icons {
  text-align: center;
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.nutrition-icons i {
  margin: 0 40px;
}

.protein-icon {
  color: #daa520;
}

.carbs-icon {
  color: #d2b48c;
}

.fats-icon {
  color: #ffa500;
}

.icon-container {
  text-align: center;
}

.icon-label {
  font-size: 30px;
  margin-top: 5px;
}

.tab-button {
  padding: 11px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 40px;
  border: none;
}

.tab-button i {
  margin: 0;
  padding: 0;
}
body{
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.timer-title {
  display: block; 
  text-align: center; 
  top: 20px;
}




#show-form-btn{
  width: 100px;
  margin-left: 50px;
}
#new-exercise-form.exercise-form{
  width:500px;
  margin-top: 50px;
margin-left: 40px;
}

#filter-options{
  margin: 20px 0px 20px 20px;
}

.clickable-container{
  background-color: #f0f0f0;
  font-size: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-top: 30px;
  height: 120px;
  width: 500px;
  margin-left: 100px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.clickable-container:hover{
  background-color: #eaeaea;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}



.clickable-container h2{
  margin: 0;
  transition: color 0.3s ease;
  width: 100%;
}

.clickable-container:hover h2{
  color: #555;
}


#container-5{
  border: 5px solid black;
  width: 700px;
  margin-left: 20px;
  text-align: center;
}

.back-arrow {
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

*{
  font-family: Arial, sans-serif;
}
.container-10{
  margin-top: 150px;
}


#container-13{
  margin-top: 50px;
}
#exerciseSelect{
  height: 50px;
  width: 100px;
  font-size: 20px;
}
#container-39{
  font-size: 30px;
  margin-top: 100px;
  margin-left: 100px;
}